.dark-mode {
  background-color: #101010;
}

.dark-mode h1 {
  color: white;
}

.dark-mode .skills {
  background-color: #fcee4b;
  color: black;
}

.dark-mode .skills h2 {
  background-color: white;
}
