// primary color
// secondary color
// danger/error
// success
// warning
// dark/drak gray text
// font size
$color--error: #ed6464;
$color--success: #7cb490;
$color--warning: #f27435;

// colors
$medium--gray: #717170;
$dark--gray: #313131;
$light--gray: #f5f5f5;

// branding colors should go here
$primary-color: #fcee4b;
$dark-color: #080808;
