// Typography
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=block');

@font-face {
  font-family: 'Fixel';
  src: url('../fonts/FixelVariable.woff2') format('woff2-variations');
  /* src: url('fonts/FixelVariable/FixelVariable.ttf') format('truetype-variations'); */
  font-weight: 100 900;
  display: block;
}

html {
  font-size: 20px;

  @include for-size(tablet-landscape-up) {
    font-size: 18px;
  }

  @include for-size(phone-only) {
    font-size: 16px;
  }
}
body {
  color: $dark-color;
  font-family: 'Fixel', sans-serif;
  font-variation-settings: 'wght' 400, 'wdth' 100;
  font-size: 1rem;
}

::selection {
  color: $dark-color;
  background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-weight: 700;
  position: relative;
  text-transform: uppercase;
  font-variation-settings: 'wght' 900, 'wdth' 100;
}

h1,
.h1 {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
  letter-spacing: -0.09rem;
}

h2,
.h2 {
  font-size: clamp(1.3rem, 3vw, 2rem);
}

h3,
.h3 {
  font-size: 1.22rem;
  line-height: 1.59em;
}

p {
  letter-spacing: -0.02em;
  line-height: 1.5;
  margin-bottom: 1em;
}

p.intro {
  letter-spacing: -0.02em;
  line-height: 1.5;
  margin-bottom: 1em;
  font-size: 40px;
}

mark {
  font-size: clamp(1.3rem, 3vw, 1.5rem);
  letter-spacing: -0.03rem;
  display: inline-block;
  line-height: 0.9;
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  transform: translateX(-8px);
  font-variation-settings: 'wght' 500, 'wdth' 100;
  margin-bottom: 10px;
}

.marquee-container {
  font-variation-settings: 'wght' 700, 'wdth' 100;
  text-transform: uppercase;
  font-size: clamp(1.3rem, 3vw, 2rem);
}

.title-section {
  font-size: clamp(3rem, 20vw, 12rem);
  letter-spacing: -0.6rem;
  font-variation-settings: 'wght' 700, 'wdth' 100;
}

.fixel-light {
  font-variation-settings: 'wght' 500, 'wdth' 100;
}

.footer-marquee {
  padding: 1rem 0;
  li {
    font-size: clamp(2.3rem, 4vw, 3rem);
    line-height: 1;
  }
}

.about-title {
  opacity: 0.17;
}

// animate weights
.animate-weight {
  transition: all 0.5s ease-in-out;
}

.to-thin:hover {
  font-variation-settings: 'wght' 100, 'wdth' 100;
}

.to-black:hover {
  font-variation-settings: 'wght' 900, 'wdth' 100;
}

// animated spans via gsap need opacity
.sub-intro h2 span,
.sub-intro p {
  opacity: 0;
  
}