html {
  scroll-behavior: smooth !important;
}

body {
  transition: all 0.5s ease-in-out;
  background-color: #fffff2;
}

#intro {
  min-height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.container {
  max-width: calc(1300px + 2rem);
  margin-inline: auto;
  padding: 0 2rem;
}

.section-padding {
  padding-top: 15rem;
}

/*************************************** 
intro section
***************************************/
.two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  /* Small Devices, tablets portrait */
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-flow: column-reverse;
  }
}

.jorge-pixar {
  position: relative;

  i.ring {
    position: absolute;
    inset: 0;
    border: 7px solid $primary-color;
    transition: 0.5s;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 8s linear infinite;
    z-index: 0;
  }
  img {
    position: relative;
    z-index: 1;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

/*************************************** 
intro section
***************************************/
.sub-intro {
  max-width: calc(1100px + 2rem);
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

/*************************************** 
Work
***************************************/
.work-container {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden;
  padding:0;
  gap: 0 6rem;
}

.work-title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;

  .title-section {
    width: 100%;
    text-align: center;
  }
}

.project {
  min-width: 100vw;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 4rem;
  gap: 2rem;
  
  .project-showcase {
    display: flex;
    gap: 2rem;
  }

  .project-title-image {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;

    .name {
      grid-column: 1 / span 5;
      grid-row: 1 / 1;
      z-index: 1;
      opacity: 0;
      transform: translateY(20px);

      h2 {
        color: black;
        font-size: 86px;
        font-variation-settings: 'wght' 700, 'wdth' 100;
        text-shadow: 0 0 35px rgba(255, 255, 255, .7);
      }
    }

    .feature-portfolio {
      grid-column: 5 / -1;
      grid-row: 1 / 1;
      aspect-ratio: 1.904 / 1;
      width: 100%;
      object-fit: cover;
      opacity: 0;
      transform: translateY(20px);
    }
  }

  .project-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;

    > div {
      // grid span 2 columns
      color: black;
      font-variation-settings: 'wght' 300, 'wdth' 100;

      h5 {
        font-variation-settings: 'wght' 600, 'wdth' 100;
        margin-bottom: 5px;
      }
    }
  }

  @media only screen and (max-width: 768px) {    
    // .project styles
    padding: 0 2rem;
    gap: 2rem;

    &:not(:first-child) {
      justify-content: flex-start;
      padding-top: 5rem;

      h2 {
        margin-top: 2rem;
      }
    }
    

    .project-title-image {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;

      .name h2 {
        color: black;
        font-size: 48px;
        line-height: 1;
      }
    }

    .project-details {
      display: flex;
      flex-direction: column-reverse;
      align-items: normal;
      margin-top: 0;
      
    }
  }
}

.project-animation {
  .name, .feature-portfolio {
    animation: fadeUp 1s ease-in-out forwards;    
  }

  .feature-portfolio {
    animation-delay: 0.5s;
  }
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*************************************** 
about section
***************************************/
.about {
  color: white;
  padding: 0 0 7rem 0;

  /* Small Devices, tablets portrait */
  @media only screen and (max-width: 768px) {
    padding: 3rem 0 0;

    .je-portrait {
      width: 100vw;
      position: relative;
    }
  }
}

/*************************************** 
contact section
***************************************/
.contact {
  list-style: none inside;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    color: white;

    &:hover {
      color: $primary-color;
    }
  }
}

/*************************************** 
footer
***************************************/
.footer {
  padding: 6rem 0 0 0;
}

.footer-scroller {
  // font size clamp max 240px
  font-size: 240px;
  width: 100%;
  font-variation-settings: 'wght' 900, 'wdth' 100;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  opacity: 0;
  padding-left: 2rem;

  span {
    display: block;
  }
  @media only screen and (max-width: 768px) {
    font-size: 90px;
  }
}

/*************************************** 
collab
***************************************/
.collab {
  color: $dark-color;
}

.footer-marquee {
  @extend .background--primary;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 2rem;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: contain;
  }
}

// hidden on load for animation
.is-hidden {
  visibility: hidden;
}
.social {
  list-style: none inside;
  display: flex;
  gap: 1rem;
  margin-bottom: 4rem;
  justify-content: center;

  img {
    width: 30px;
    height: 30px;
  }
}

/*************************************** 
vcard page
***************************************/
.body-vcard {
  // background-color: $dark-color;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, $dark-color, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, $dark-color, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
  cursor: default;
}

.container-mini {
  margin-inline: auto;
  // margin-top: calc(6vh + 40px); // 40px from the -40px tranform on the vcard
  max-width: 400px;
  position: relative;
  width: 80%;
  background-color: white;
  border-radius: 15px;
}

.qr-code {
  text-align: center;
  position: relative;
}

.qr-code img.qr {
  position: absolute;
  top: 0;
}

.vcard-details {
  display: none;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  transform: translateY(-60px);
}

.vcard-details p,
.vcard-details ul {
  margin: 0;
}

.vcard-details img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  object-fit: cover;
  max-width: 50%;
}

.vcard-name-title {
  text-align: center;
}

.vcard-contact {
  list-style: none inside;
  text-align: center;
}

.vcard-contact a {
  color: $dark-color;
}
