html {
  scroll-behavior: smooth !important;
}

body {
  overflow-x: hidden;
}

.container {
  max-width: calc(1300px + 2rem);
  margin-inline: auto;
  padding: 0 2rem;
}

// intro section

.two-col {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  /* Small Devices, tablets portrait */
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-flow: column-reverse;
  }
}

.jorge-pixar {
  position: relative;

  i.ring {
    position: absolute;
    inset: 0;
    border: 7px solid $primary-color;
    transition: 0.5s;
    border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
    animation: animate 8s linear infinite;
    z-index: 0;
  }
  img {
    position: relative;
    z-index: 1;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg) scale(1.1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}

// skills section
.skills {
  display: flex;
  align-items: baseline;
  margin: 2rem 0 0;

  .marker {
    background-color: $primary-color;
    padding: 1rem 2rem 0.5rem;
    display: inline-block;
  }
}

// about section
.about {
  padding: 3rem 0 8rem;
  color: white;
  position: relative;
  overflow: hidden;

  .je-portrait {
    width: 50vw;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: 0;
    opacity: 0.4;
    max-width: 800px;
  }

  .container {
    z-index: 1;
    position: inherit;
    padding-left: 35vw;
  }

  /* Small Devices, tablets portrait */
  @media only screen and (max-width: 768px) {
    padding: 3rem 0 0;

    .je-portrait {
      width: 100vw;
      position: relative;
    }

    .container {
      padding-left: 2rem;
    }
  }
}

.contact {
  list-style: none inside;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  align-items: center;

  a {
    color: white;

    &:hover {
      color: $primary-color;
    }
  }
}

// footer
.collab {
  color: $dark-color;
}

.footer-marquee {
  @extend .background--primary;
}

// hidden on load for animation
.is-hidden {
  visibility: hidden;
}
