// primary color
// secondary color
// danger/error
// success
// warning
// dark/drak gray text
// font size
$color--error:#ED6464;
$color--success:#7CB490;
$color--warning:#F27435;

// colors
$medium--gray: #717170;
$dark--gray: #313131;
$light--gray:#F5F5F5;

// branding colors should go here
$primary-color: #FCEE4B;
	