header {
  padding: 1rem 0;

  .nav {
    ul {
      display: flex;
      list-style: none inside;
      gap: 1rem;
      padding: 0;
      margin: 0;

      a {
        text-decoration: none;
        color: $dark-color;
        text-transform: uppercase;
      }
    }
  }
}
