/* Buttons */
// buttons sm md lg
// flat colored button
// gradient colored button
// ghost buttons
// shadow hover buttons
// chevrons

button,
.btn,
input[type='button'] {
  background:  $primary-color;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 20px;
  font-variation-settings: 'wght' 600, 'wdth' 100;
  line-height: 1;
  padding: .6em 1em .4em;
  border-radius: 20px;;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  vertical-align: middle;

  &:hover {
    background: $dark-color;
    color: $primary-color;
  }
}

// button sizes
.btn--sm {
  font-size: 80%;
}
.btn--lg {
  font-size: 130%;
}
.btn--block {
  display: block;
  width: 100%;
}

// button colors
.btn--success,
.btn--alert,
.btn--warning {
  color: white;
}
.btn--success {
  background: $color--success;
  &:hover {
    background: shade($color--success, 20%);
  }
}
.btn--alert {
  background: $color--error;
  &:hover {
    background: shade($color--error, 20%);
  }
}
.btn--warning {
  background: $color--warning;
  &:hover {
    background: shade($color--warning, 20%);
  }
}

// Ghost buttons
.btn__ghost {
  background: none;
  border: 1px solid $medium--gray;

  &:hover {
    background: $medium--gray;
    color: white;
  }
}

//  Call to action
.btn--cta {
  background: $primary-color;
  color: $dark-color;
  // font-size: 1.615rem;
  letter-spacing: 0.2em;
  border-radius: 7px;
  line-height: 1;
}

// chevrons
.chevron {
  @include border-radius(100%);
  display: inline-block;
  height: 4em;
  width: 4em;
  position: relative;

  &:before {
    content: ' ';
    border: 4px solid $light--gray;
    border-top-style: none;
    border-right-style: none;
    display: block;
    height: 50%;
    position: absolute;
    top: 25%;
    width: 50%;
  }

  &--left {
    &:before {
      left: 35%;
      transform: rotate(45deg);
    }
  }

  &--right {
    &:before {
      right: 35%;
      transform: rotate(-135deg);
    }
  }
  &--up {
    &:before {
      top: 35%;
      transform: rotate(135deg);
    }
  }

  &--down {
    &:before {
      bottom: 30%;
      top: 10%;
      transform: rotate(-45deg);
    }
  }

  &--transparent,
  &--transparent:hover {
    background: transparent;
  }

  &--sm {
    height: 2em;
    width: 2em;
  }
}

.collab {
  border: 0;
  padding: 0;
  margin: 0;
}
