.frosted-blob {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;

  .frosted-blob-inner {
    position: absolute;
    inset: 0; /* shorthand for top/right/bottom/left: 0 */
    width: 100vw;
    height: 100vh;
    min-height: 100vh; /* ensures it covers tall pages */
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
  }

  svg {
    width: 60vw;
    position: absolute;
    // max-height: 100vh;
    right: 0;
    top: 0;

    path {
      transition: fill 0.3s ease;
      animation: blob 15s linear infinite;
      transform-origin: 50% 50%;
    }
  }
}

@keyframes blob {
  0%,
  100% {
    d: path(
      'M220,404.12981947573525C323.252688478243,404.12981947573525,409.7391642917259,323.252688478243,409.73916429172584,220C409.73916429172584,107.8304113577458,332.16958864225427,4.363529685263813,220.00000000000006,4.36352968526384C108.20376818358297,4.363529685263853,31.711229193024316,108.20376818358288,31.711229193024337,219.99999999999997C31.71122919302432,322.8469664606722,117.15303353932775,404.12981947573525,220,404.12981947573525'
    );
  }
  25% {
    d: path(
      'M220,324.92276706084937C301.0762504292754,324.92276706084937,399.1440643570588,301.0762504292754,399.1440643570588,220C399.1440643570588,124.09142587042824,315.9085741295718,52.007465243906424,220,52.007465243906445C130.8179148502141,52.00746524390646,65.30970409350549,130.8179148502141,65.3097040935055,219.99999999999997C65.3097040935055,292.99553482074555,147.00446517925445,324.92276706084937,220,324.92276706084937'
    );
  }
  50% {
    d: path(
      'M220,352.4175454196794C304.72444204410016,352.4175454196794,391.85201479505525,304.72444204410016,391.85201479505525,220C391.85201479505525,131.54168794228093,308.45831205771907,72.43840396650789,220,72.43840396650792C131.78496586255977,72.43840396650793,48.969911367029816,131.78496586255974,48.96991136702983,219.99999999999997C48.96991136702984,304.470411123973,135.52958887602696,352.4175454196794,220,352.4175454196794'
    );
  }
  75% {
    d: path(
      'M220,420.33988734542885C318.22387177903215,420.33988734542885,372.069760048762,318.22387177903215,372.06976004876196,220C372.06976004876196,124.11709865965295,315.8829013403471,27.239552290617087,220,27.239552290617112C113.39981608467055,27.239552290617127,26.727372843169537,113.39981608467052,26.727372843169558,219.99999999999997C26.727372843169565,328.7106132288981,111.28938677110185,420.33988734542885,220,420.33988734542885'
    );
  }
}
