body {
  cursor: none;
}

.circle {
  background: transparent;
  border: 2px solid white;
  border-radius: 50%;
  // top: -10rem;
  // left: -10rem;
  width: 2rem;
  display: block;
  height: 2rem;
  position: fixed;
  transition: opacity 0.4s ease-in-out;
  z-index: 99999;
  pointer-events: none;
  mix-blend-mode: exclusion;
}

.inner-circle {
  background: white;
  border-radius: 50%;
  display: block;
  // top: -10rem;
  // left: -10rem;
  width: 0.5rem;
  height: 0.5rem;
  position: fixed;
  transition: transform 0.4s, background 0.4s;
  z-index: 99999;
  pointer-events: none;
}
